
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh; /* Wichtig: Nimmt 100% der Viewport-Höhe */
  width: 100vw; /* Nimmt die gesamte Breite des Viewports */
  padding: 20px;
  background-color: #2D4D79;
  text-align: center;
  overflow: hidden; 
}

.sort-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}


.workflow-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px;
  width: 100%;
  flex-grow: 1; 
  padding: 20px;
  overflow-y: auto; 
}


.workflow-card {
  flex: 1 1 300px; 
  max-width: 350px; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: left;
  min-height: 200px; 
}


.workflow-card.success {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
}

.workflow-card.failed {
  background-color: #f8d7da;
  border-left: 5px solid #dc3545;
}

.workflow-card.pending {
  background-color: #fff3cd;
  border-left: 5px solid #ffc107;
}


.workflow-card:hover {
  transform: scale(1.03);
}

.workflow-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.workflow-info {
  font-size: 0.9rem;
  color: #333;
}


.workflow-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.workflow-link:hover {
  text-decoration: underline;
}

